[Unit]
Description=uWSGI Vlado
After=syslog.target

[Service]
WorkingDirectory=/home/asd/workspace/vlado.lan
ExecStart=/usr/bin/uwsgi --ini wsgi_dev.ini
RuntimeDirectory=vlado
User=www-data
Group=www-data

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
