{% extends 'adm/base.html' %}
{% block content %}
<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    <h1 class="h3 mb-0 text-gray-800">Kosijerevo</h1>
</nav>
<!-- End of Topbar -->

<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">

                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ article['url'] }}</h6>
                    <form id="upload_form">
                        <input name="file" id="upload_file" type="file">
                        <input name="gallery_id" type="hidden" value="{{ article['id'] }}">
                        <input id="upload_button" type="button" value="Upload" disabled onclick="upload_image()">
                    </form>
                </div>

                <div class="card-body d-flex flex-wrap">
                    {% for img in imgs %}
                    <div class="position-relative">
                        <a class="position-absolute del-img text-white" href="#" onclick='del_image("{{ img }}")'>
                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </a>
                        <img src="{{ img }}" alt="" class="img-thumbnail adm-thumbnail">
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

</div>
{% endblock %}
