body {
    background-color: #3f647a;
}

.logo {
    width: 35px;
}

.navbar {
    background-color: rgba(20, 64, 91, 0.85);
}

.logo {
    width: 32px;
}
.flag {
    width: 64px;
}

.navbar a {
    font-size: 1.5rem;
}

.index-pic {
    height: 100vh;
    background-image: url("/static/img/Rozhdenie1.jpg");
    background-size: cover;
    background-position: 32%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
