body {
    background: url("/static/img/P_20190928_180255_1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.navbar {
    background-color: rgba(20, 64, 91, 0.85);
}

.logo {
    width: 32px;
}
.flag {
    width: 64px;
}

.navbar a {
    font-size: 1.5rem;
}

.nav-kos {
    flex-grow: 1;
    flex-basis: 0%;
    margin-left: 120px;
}
.nav-somina {
    flex-basis: 0%;
    flex-grow: 1;
}


@media (max-width: 800px) {
    .nav-somina {
        margin-left: 120px;
    }
}

@media (max-width: 420px) {
    .nav-kos {
        margin-left: 0px;
        margin-top: 50px;
    }
    .nav-somina {
        margin-left: 0px;
    }
}

p {
    text-indent: 1.5em;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
